<div class="admin">
        <div class="container" >
            <h1>-HI ADMIN, WELCOME TO BACK-OFFICE-</h1>

                <div class="d-grid">
                    <a class="btn-theme mt-5" asp-controller="admin" asp-action="list">USERS-LIST</a>
                    <a class="btn-theme mt-4" asp-controller="admin" asp-action="changeRole">MODIFY-ROLE</a>
                    <a class="btn-theme mt-4" asp-controller="admin" asp-action="register">REGISTER-USER</a>
                    <a class="btn-theme mt-4" asp-controller="products" asp-action="index">PRODUCTS-LIST</a>
                    <a class="btn-theme mt-4" asp-controller="products" asp-action="registerProduct">REGISTER-PRODUCT</a>
                   
                </div>
        </div>
</div>

