<div class="admin" style="background: lightblue; padding: 150px;">
        <div class="container" >
            <h1 style="padding: 15px; background-color: khaki; text-align:center">-HI ADMIN, WELCOME TO BACK-OFFICE-</h1>

                <div class="d-grid">
                    <a class="btn-theme mt-5" asp-controller="admin" asp-action="list" style="text-align:center;">USERS-LIST</a>
                    <a class="btn-theme mt-4" asp-controller="admin" asp-action="changeRole" style="text-align:center;">MODIFY-ROLE</a>
                    <a class="btn-theme mt-4" asp-controller="admin" asp-action="register" style="text-align:center;">REGISTER-USER</a>
                    <a class="btn-theme mt-4" asp-controller="products" asp-action="list" style="text-align:center;">PRODUCTS-LIST</a>
                    <a class="btn-theme mt-4" asp-controller="products" asp-action="register" style="text-align:center;">REGISTER-PRODUCT</a>
                   
                </div>
        </div>
</div>

