@inject AuthService authService
@{
    var usersWithRoles = await authService.GetAllUsersWithRoles();
}
@if (usersWithRoles != null)
{
    <div class="user-list" style="height:665px; padding:150px; background:lightyellow">
        <div class="container">
            <h2 style="background-color:aqua; text-align:center">USERS LIST</h2>

            
                @foreach (var user in usersWithRoles)
                {
                    <div class="user-row  d-flex justify-content-around" style="background:lightgreen">
                        <div><b>Role: </b>@user.RoleName</div>
                        <div><b>E-mail: </b>@user.UserName</div>  
                    </div>
                }
            
        </div>
   </div>
}