@inject AuthService authService
@{
    var usersWithRoles = await authService.GetAllUsersWithRoles();
}
@if (usersWithRoles != null)
{
    <div class="user-list">
        <div class="container">
            <h2>USERS-LIST</h2>

            
                @foreach (var user in usersWithRoles)
                {
                    <div class="user-row">
                        <div><b>Role: </b>@user.RoleName</div>
                        <div><b>E-mail: </b>@user.UserName</div>  
                    </div>
                }
            
        </div>
   </div>
}