@model RegisterAccountViewModel

<section class="register-form">
    <div class="container">
        <div class="form-content">
            <div class="form-title">Please register new user</div>
            <hr>
            <form id="registerForm" method="post" novalidate>

                <div class="line">
                    <div asp-validation-summary="ModelOnly" class="error-text"></div>
                </div>

                <div class="line grid">
                    <div class="column">
                        <label for="FirstName">First-Name</label>
                        <input id="firstNameField" name="FirstName" type="text" required />
                        <span asp-validation-for="FirstName" class="error-text"></span>
                        <span id="RegisterFirstNameError" class="error-text"></span>
                    </div>

                    <div class="column">
                        <label for="LastName">Last-Name</label>
                        <input id="LastNameField" name="LastName" type="text" required />
                        <span asp-validation-for="LastName" class="error-text"></span>
                        <span id="RegisterLastNameError" class="error-text"></span>
                    </div>
                </div>

                <div class="line">
                    <label for="StreetName">Street</label>
                    <input id="StreetNameField" name="StreetName" type="text" required />
                    <span id="StreetNameError" class="error-text"></span>
                </div>

                <div class="line grid">
                    <div class="column">
                        <label for="PostalCode">Postal-Code</label>
                        <input id="PostalCodeField" name="PostalCode" type="text" required />
                        <span id="PostalCodeError" class="error-text"></span>
                    </div>
                    <div class="column">
                        <label for="City">City</label>
                        <input id="CityField" name="City" type="text" required />
                        <span id="CityError" class="error-text"></span>
                    </div>
                </div>

                <div class="line grid">
                    <div class="column">
                        <label for="PhoneNumber">Phone-Number</label>
                        <input id="PhoneNumberField" name="PhoneNumber" type="tel" />
                    </div>
                    <div class="column">
                        <label for="CompanyName">Company-Name</label>
                        <input id="CompanyNameField" name="CompanyName" type="text" />
                    </div>
                </div>

                <div class="line">
                    <label for="Email">Email</label>
                    <input id="EmailField" name="Email" type="email" required autocomplete="username" />
                    <span asp-validation-for="Email" class="error-text"></span>
                    <span id="RegisterEmailError" class="error-text"></span>
                </div>

                <div class="line">
                    <label for="Password">Password</label>
                    <input id="PasswordField" name="Password" type="password" autocomplete="new-password" required>
                    <span asp-validation-for="Password" class="error-text"></span>
                    <span id="RegisterPasswordError" class="error-text"></span>
                </div>

                <div class="line">
                    <label for="ConfirmPassword">Confirm-Password</label>
                    <input id="ConfirmPassword" name="ConfirmPassword" type="password" required autocomplete="new-password" />
                    <span asp-validation-for="ConfirmPassword" class="error-text"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-md">REGISTER</button>
            </form>
        </div>
    </div>
</section>



