@model DiscoverContentViewModel

<div class="title-red">@Model.TitleRed</div>
<div class="title">@Model.Title</div>
<div class="ingress">@Model.Ingress</div>
<div class="text">@Model.Text</div>
<a a asp-controller="products" class="link">Discover More</a>