@model GridCollectionItemViewModel

@inject ProductService productService
@{
    var products = await productService.GetAllAsync();
}

@if (products != null)
{
    foreach (var product in products)
    {
        <div class="container">
            <a asp-controller="products" asp-action="details" asp-route-id="@product.Id" class="collection-item">
                <div class="body">
                    <div class="title">@product.Name</div>
                    <div class="info">
                        <div class="price">$@product.Price</div>
                        <i class="add-cart fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
        </div>

    }
}
