@model UpToSellViewModel

@if (Model != null)
{
    <section class="up-to-sell">
        <div class="container">
            <div class="collection-grid">
                @if (Model.Item_1 != null)
                {
                    <div class="item-1">
                        @foreach (var item in Model.Item_1)
                        {
                            <partial name="/Views/Partials/_UpToSellItems.cshtml" model="item" />
                        }
                    </div>
                }

                @if (Model.DiscoverItem != null)
                {
                    <div class="discover">
                        @foreach (var item in Model.DiscoverItem)
                        {
                            <div class="collection-content">
                                <div class="container">
                                    <!-- maybe need to decler the model hear -->
                                    <partial name="/Views/Partials/_UpToSellItems.cshtml" model="item" />
                                </div>
                            </div>
                        }
                    </div>
                }


                <div class="item-2">
                    @foreach (var item in Model.Item_2)
                    {
                        <partial name="/Views/Partials/_UpToSellItems.cshtml" model="item" />
                    }
                </div>
            </div>
        </div>
    </section>
}