@model UpToSellViewModel

@if (Model != null)
{
    <section class="up-to-sell">
        <div class="container">
            <div class="collection-grid">
                @if (Model.Item_1 != null)
                {
                    <div class="item-1">
                        @foreach (var item in Model.Item_1)
                        {
                            <partial name="/Views/Partials/_UpToSellItems.cshtml" model="item" />
                        }
                    </div>
                }

                @if (Model.DiscoverContent != null)
                {
                    <div class="discover">
                        <div class="collection-content">
                            <div class="container">
                                <!-- maybe need to decler the model hear -->
                                <partial name="/Views/Partials/_DiscoverContent.cshtml" model="Model.DiscoverContent" />
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Item_2 != null)
                {
                    <div class="item-2">
                        @foreach (var item in Model.Item_2)
                        {
                            <partial name="/Views/Partials/_UpToSellItems.cshtml" model="item" />
                        }
                    </div>
                }
            </div>
        </div>
    </section>
}