@model TopSellingViewModel

@if (Model != null)
{
    <section class="top-selling">
        <div class="container-fluid">
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h1 class="collection-title">@Model.Title</h1>
            }

            @if (Model.CollectionGrid != null)
            {
                <div class="collection-grid">
                    @foreach (var item in Model.CollectionGrid)
                    {
                        <partial name="/Views/Partials/HomePartial/_GridCollectionItem.cshtml" model="item" />
                    }
                </div>
            }

            @if (Model.LoadMore)
            {
                <div class="load-more">
                    <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left fa-lg"></i></button>
                    <button class="btn-outline-white ms-1"><i class="fa-solid fa-chevron-right fa-lg"></i></button>
                </div>
            }

        </div>
    </section>
}