@import './core/fonts';
@import './core/colors';
@import './core/mixins';

@import './components/base';
@import './components/buttons';
@import './components/collectionitem';
@import './components/collectioncontent';
@import './components/forms';

@import './components/header';
@import './components/footer';
@import './components/breadcrumb';
@import './components/map';
@import './components/showcase';
@import './components/gridcollection';
@import './components/uptosell';
@import './components/topselling';
@import './components/newsletter';
@import './components/contactform';

@import './components/showcase-detials';
@import './components/productDetails';
@import './components/productInfo';
@import './components/featuredProducts';
@import './components/brandProducts';

@import './components/RegisterForm';
@import './components/LoginAccount';


@import './components/list';
@import './components/adminindex';
@import './components/changerole';

@import './components/registerproductform';

