

<section class="related-product">
    <div class="container">
        <hr>
        <h3 class="title">Related Products</h3>
        <div class="row row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

            <div class="col">
                <div class="card">
                    <div class="image-1">
                        <img src="/images/placeholders/270x295.svg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <div>
                          <div>Gumshoes black fashion</div>
                          <p><i>$120.00</i> $80.00</p>
                        </div>
                     
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-2">
                        <img src="/images/placeholders/270x295.svg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <div>
                            <div>Woman white dress</div>
                            <p>$30.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-3">
                        <img src="/images/placeholders/270x295.svg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <div>
                            <div>Kettle water boiler</div>
                            <p>$30.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-4">
                        <img src="/images/placeholders/270x295.svg" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <div>
                            <div>Congee cooking rice cooker</div>
                            <p>$30.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>