<section class="featured-products">
    <div class="container">
        <hr>
        <div class="title">Related Products</div>
        <div class="row row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card">
                    <div class="img-holder">
                        <img src="~/images/placeholders/270x295.svg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <a class="card-link" href="productdetails.html">Gumshoes black fashion</a>
                            <p class="card-text">$30.00</p>
                        </div>
                        <a class="card-icon" href="#"><i class="fa-regular fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img-holder">
                        <img src="~/images/placeholders/270x295.svg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <a class="card-link" href="productdetails.html">Woman white dress</a>
                            <p class="card-text">$30.00</p>
                        </div>
                        <a class="card-icon" href="#"><i class="fa-regular fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img-holder">
                        <img src="~/images/placeholders/270x295.svg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <a class="card-link" href="productdetails.html">Kettle water boiler</a>
                            <p class="card-text">$30.00</p>
                        </div>
                        <a class="card-icon" href="#"><i class="fa-regular fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img-holder">
                        <img src="~/images/placeholders/270x295.svg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <a class="card-link" href="productdetails.html">Congee cooking rice cooker</a>
                            <p class="card-text">$30.00</p>
                        </div>
                        <a class="card-icon" href="#"><i class="fa-regular fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- featured products end-->