@page "/product/{id:int}"

@inject ProductService productService
@{
    var id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
    var product = await productService.GetAsync(id);
}

<section class="product-info">
    <div class="container">
       
        <div class="content-images">
        <img class="large" src="/images/placeholders/501x430.svg">
            <div class="small-images">
                <img class="small-image" src="/images/placeholders/120x113.svg">
                <img class="small-image" src="/images/placeholders/120x113.svg">
                <img class="small-image" src="/images/placeholders/120x113.svg">
                <img class="small-image" src="/images/placeholders/120x113.svg">
            </div>
        </div>
        
        <div class="product-information">
            <h3>@product?.Name</h3>
            <div class="product-text">
                @product?.Description
            </div>
            <hr>
            <div class="reviews">
                <div class="stars">
                    <i class="fa-solid fa-star fa-beat fa-lg"></i>
                    <i class="fa-solid fa-star fa-beat fa-lg"></i>
                    <i class="fa-solid fa-star fa-beat fa-lg"></i>
                    <i class="fa-solid fa-star fa-beat fa-lg"></i>
                    <i class="fa-solid fa-star fa-beat fa-lg"></i>
                    <i class="review">16 Reviews</i>
                </div>
            </div>
            <div class="price">@product?.Price</div>
            <div class="sumandcart">
                <div class="sum">
                    <button class="btn-sum" type="button">-</button>
                    <label class="quantity">3</label>
                    <button class="btn-sum" type="button">+</button>
                </div>
                <button class="btn-theme">Add to Cart <i class="fa-light fa-cart-plus fa-beat-fade fa-lg"></i></button>
            </div>
            <div class="circle-color">
                <i class="fa-solid fa-circle fa-flip fa-xl" style="color: orangered"></i>
                <i class="fa-solid fa-circle fa-flip fa-xl" style="color: gold"></i>
                <i class="fa-solid fa-circle fa-flip fa-xl" style="color: lightseagreen"></i>
                <span class="stock-keeping">SKU: N/A</span>
            </div>
            <button class="addtowish">Add to Wishlist</button>
            <div class="category">Category: @product?.Category</div>
        </div>
    </div>
</section>
