


<section class="small-images-section">
    <div class="container">
        <div class="small-images-holding">
            <img src="/images/placeholders/200x122.svg">
            <img src="/images/placeholders/200x122.svg">
            <img src="/images/placeholders/200x122.svg">
            <img src="/images/placeholders/200x122.svg">
            <img src="/images/placeholders/200x122.svg">
            <img src="/images/placeholders/200x122.svg">
        </div>
    </div>
</section>