.admin {
    background: lightblue;
    padding: 150px;


    h1 {
        padding: 15px;
        background-color: khaki;
        text-align: center
    }

    .btn-theme {
        text-align: center;
    }
}
