.related-product {

    .container {

        .title {
            margin: 35px 0;
            font-weight: bold;
        }

        i {
            text-decoration-line: line-through;
        }
    }
}
