@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import '../core/_mixins.scss';

.user-row {
    padding: 8px;
    background: lightgreen;
    border: dashed; 
    margin: 5px 1px;
        
    .d-grid {
    align-items: center;
    justify-content:start;
    }
}
