.related-product {
    margin-top: 5rem;

    .container {

        @include lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .product-img {

            @include lg {
                .small-img {
                    margin-top: 8px;

                    .small-img-tow {
                        margin-left: 3px;
                    }

                    .small-img-three {
                        margin-left: 3px;
                    }

                    .small-img-four {
                        margin-left: 3px;
                    }
                }
            }
        }

        @include lg {

            .product-info {

                .title {
                    font-size: 24px;
                    color: $color-dark-1;
                    font-family: $font-poppins;
                }

                .info-item {
                    font-size: 16px;
                    margin: 15px 0px 25px 0;
                    font-family: $font-roboto;
                }

                .reviews {
                    .stars {
                        color: $color-yellow;
                        font-size: 20px;
                        margin: 25px 0px 15px 0;
                    }

                    .text {
                        color: $color-dark-1;
                        font-family: $font-roboto;
                        font-size: 16px;
                    }
                }

                .price {
                    font-size: 20px;
                    font-family: Helvetica;
                    font-weight: bold;
                    margin-bottom: 18px;
                }

                .sumandcart {
                    display: flex;
                    gap: 22PX;
                    margin-bottom: 22px;

                    .sum {
                        border: 1px solid;
                        width: 10rem;

                        .btn-sum {
                            height: 3.125rem;
                            width: 3.45rem;
                            border: 1px solid whitesmoke;
                        }

                        .quantity {
                            height: 2.3rem;
                            width: 2.5rem;
                            text-align: center;
                        }
                    }
                }

                .circle-color {
                    margin-bottom: 20px;

                    .stock-keeping {
                        margin-left: 30px;
                        font-family: momospace;
                    }
                }

                .addtowish {
                    background-color: whitesmoke;
                    margin-bottom: 25px;
                    border: 1px solid;
                    padding: 8px 38px;
                }
            }
        }
    }
}
