.register-product-form {
    display: flex;
    justify-content: center;
    background-color: lightblue;

    h1 {
        margin-top: 50px;
        text-align: center;
    }

    .form-control {
        background-color: lightgoldenrodyellow;
    }

    .button {
        display: grid;
        margin-top: 10px;
        margin-bottom: 39px;
    }
}
