@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import '../core/_mixins.scss';

.showcase-product-detail {

    .container {
        max-width: 1920px;
        padding: 0;

        img {
            width: 100%;
            margin-top: 5rem;
        }
    }
}
