.featured-products {
    .container {

        .title {
            margin: 35px 0 35px 0;
            font-size: 24px;
            font-weight: $font-weight-semibold;
            font-family: $font-poppins;
            color: $color-dark-1;
        }
    }
}
