@model HomeIndexViewModel
@inject SignInManager<IdentityUser> signInManager
@inject ProductService productService
@{
    var products = await productService.GetAllAsync();
}

@if (products != null)
{
    <div class="container">
        <h1 style="margin-bottom: 5rem;">PRODUCTS</h1>


        <div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
            @foreach (var product in products)
            {
                <div class="col">
                    <a asp-controller="products" asp-action="details" asp-route-id="@product.Id" class="collection-item">
                        <img src="@product.LgImgUrl" alt="">
                        <div class="body">
                            <div class="title">@product.Name</div>
                            <div class="title">@product.Category</div>
                            <div class="info">
                                <div class="price">$@product.Price</div>
                                <i class="add-cart fa-regular fa-cart-plus"></i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}