@model ProductRegisterViewModel

<div class="register-product-form">
    <div class="col-6 mt-5">
        <h1>Register-Product</h1>
        <form method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-2">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control"/>
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>


            <div class="mb-3">
                <label asp-for="Prise" class="form-label"></label>
                <input asp-for="Prise" class="form-control" />
                <small><span asp-validation-for="Prise" class="text-danger"></span></small>
            </div>


            <div class="mb-3">
                <label asp-for="Category" class="form-label"></label>
                <input asp-for="Category" class="form-control" />
                <small><span asp-validation-for="Category" class="text-danger"></span></small>
            </div>


            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>


            <div class="button">
                <button class="btn-theme" type="submit">Register</button>
            </div>

        </form>

    </div>

</div>

